{{- $title := .title -}}
{{- $items := .items -}}

<!-- number of items to show -->
{{ $showNum := 16 }}

<h2>{{- $title -}}</h2>
<div class="flat-list">
  {{- range first (default $showNum site.Params.rtw_theme.params.home.countRecent) $items -}}
    <div class="flat-list-item" style="min-height:40px">
      <div>
        <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>

        <!-- modify default theme behavior to accommodate date -->
        {{ with .Params }}
          {{ $startDateTimeMachine := .startDateTime | time.Format "2006-01-02T15:04:05-07:00" }}
          {{ $startDateHuman := .startDateTime | time.Format "Mon, Jan 2, 2006" }}
          {{ $startTimeHuman := .startDateTime | time.Format "3:04" }}
          {{ $endTimeHuman := .endDateTime | time.Format "3:04 PM" }}

          <time class="text-sm dim" style="float: right; margin-left: 20px; text-align: right;" datetime="{{ $startDateTimeMachine }}">
            {{ $startDateHuman }}<br>{{$startTimeHuman}}–{{$endTimeHuman}}
            <!-- {{ $startDateHuman }}, {{$startTimeHuman}} -->
          </time>
        {{ end }}

      </div>

      <!-- display first two lines of abstract; modified from original version -->
      {{ $speaker := .Params.speaker }}
      {{ $speakerAffiliation := .Params.speakerAffiliation }}
      <small><p class="clamp-10">
        <strong>{{ $speaker }}</strong>, <i>{{ $speakerAffiliation }}</i>
        {{ .Content }}
      </p></small>

    </div>
  {{- end -}}
</div>
