{{ define "main" }}
  <section>
    <!-- recording, if exists -->
    {{ if .Params.recordingYouTubeShortcode }}
      {{ $recordingYouTubeShortcode := .Params.recordingYouTubeShortcode }}
      <iframe width="560" height="340"
              src="https://www.youtube.com/embed/{{ $recordingYouTubeShortcode }}"
              title="{{ .Title }}"
              frameborder="0"
              allowfullscreen>
      </iframe>
    {{ end }}

    <!-- title -->
    <h1>{{ .Title }}</h1>

    <!-- time and location -->
    <!-- will show (upcoming) if the seminar is in the future -->
    <!-- if cancelled, show it as cancelled with a strike-through -->
    {{/* Manually set the cutoff date for upcoming seminars here */}}
    {{ $upcomingCutoff := time "2025-09-23" }}
    {{ with .Params }}
      {{- $start := time .startDateTime -}}
      {{ $startDateTimeMachine := .startDateTime | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $startDateHuman := .startDateTime | time.Format "Monday, January 2, 2006" }}
      {{ $startTimeHuman := .startDateTime | time.Format "3:04" }}
      {{ $endTimeHuman := .endDateTime | time.Format "3:04 PM" }}

      {{ $location := .location }}
      
      {{ if .cancelled }}
        <time datetime="{{ $startDateTimeMachine }}"><s>{{ $startDateHuman }} at {{ $startTimeHuman }}–{{ $endTimeHuman }} in {{ $location }}</s> (<u><strong>cancelled</strong></u>) </time>
      {{ else if ge $start $upcomingCutoff }}
        <time datetime="{{ $startDateTimeMachine }}">{{ $startDateHuman }} at {{ $startTimeHuman }}–{{ $endTimeHuman }} in {{ $location }} (<u><strong>upcoming</strong></u>) </time>
      {{ else }}
        <time datetime="{{ $startDateTimeMachine }}">{{ $startDateHuman }} at {{ $startTimeHuman }}–{{ $endTimeHuman }} in {{ $location }}</time>
      {{ end }}
    {{ end }}

    <!-- speaker -->
    {{ with .Params }}
      {{ $speaker := .speaker }}
      {{ $speakerAffiliation := .speakerAffiliation }}
      <p><strong>{{ $speaker }}</strong>, <i>{{ $speakerAffiliation }}</i></p>
    {{ end }}

    <!-- abstract -->
    {{ .Content }}

    <!-- host -->
    <p>Host: {{ .Params.Host }}</p>

    <!-- add additional files, e.g., slides, notes -->
    {{ if .Params.resources }} <!-- don't show div at all unless there are any files -->
      <div>Files:</div>
    {{ end }}
    <ul>
    {{ range .Params.resources }}
      <li><a href="{{ .url }}">{{ .type }}</a></li>
    {{ end }}
    </ul>

    <!-- tags -->
    <aside>
      {{ with .GetTerms "tags" }}
        <div>{{ (index . 0).Parent.LinkTitle }}</div>
        <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </aside>


  </section>
{{ end }}